.Navbar {
    background-color: #eef2f8;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.Navbar__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
}
